h1 {
  font-size: 40px;
  text-align: center;
}
h3 {
  font-size: 15px;
}
body {
  background-color:#5499C7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.example{
  width: 30%;
  height: 30%;
  float: right;
  border: 2px solid black;
}
.sides {
  border: 2px solid black;
  margin: 10px;
  width:190px;
  text-align:center;
  background-color:#A9CCE3;
}
.angles {
  border: 2px solid black;
  margin: 10px;
  width:190px;
  text-align:center;
  background-color:#A9CCE3;
}
.response_a {
  text-align:center;
}
.response_s {
  text-align:center;
}